body {

    font-family: 'Inter', sans-serif;

}

.container {
    width: 100%;
    background-image: linear-gradient(to top, rgb(0 0 0/.3), rgb(0 0 0/.3)), url(img/pexels-jaime-reimer-2662116\ \(1\).jpg);
    background-size: cover;
    background-position-y: 50%;

}

.container-formulario {
    margin-top: -40px;
    display: grid;
    place-items: center;
}

.texto-container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.textos {
    margin-bottom: 30px;
    text-align: center;
    color: antiquewhite;
    font-family: 'Inter', sans-serif;
}

p {
    margin-top: -40px;
    font-size: 18px;
}

.textos h1 {
    margin-top: 30px;
    font-size: 60px;
}

.datos {
    width: 300px;
    height: 350px;
    background-color: rgba(3, 48, 46, 0.3);
    display: grid;
    place-items: center;
    

}

.datos input {

    width: 80%;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}

textarea {

    width: 85%;
    height: 90px;
    margin-top: 5px;
}

input[type="submit"] {

    background: #03302eea;
    color: white;
    width: 85%;
    margin-top: -8px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;

}